<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="feed">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="event">
      <ion-icon name="calendar"></ion-icon>
    </ion-tab-button>
    <ion-tab-button class="coffee" tab="coffee">
      <ion-icon name="chatbubbles"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="messages">
      <ion-icon name="mail"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon name="more"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>