ion-tab-button{
    --color-selected:#000;
    --color	:#555;
    --ripple-color	:#333;
    border-top: 2px solid #000;
}
ion-tab-button [aria-selected=true]{
    --color-selected:#e51b23 ;
    --color	:#e51b23 ;
    --ripple-color	:#e51b23 ;
    border-top: 2px solid #e51b23 ;
}
.coffee{
    color: #e51b23 ;
    border-top: 2px solid #000;
}
ion-tab-button.tab-selected{
    border-top: 2px solid #e51b23 ;
    --color	:#000;
}