ion-slide {
  padding: 100px 20px 20px 20px;
  display: block;
  img {
    width: 100px;
  }

  h2 {
    font-size: 36px;
    font-weight: bold;
  }
}
.center{
  margin-top: 20%;
  text-align: center;
  img {
    width: 70%;
  }
}