<div class="center">
  <img src="assets/images/rebus-logo.png" />
</div>
<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <h2>Bem-Vindo</h2>
    <p>Somos uma plataforma para conectar empreendedores</p>
  </ion-slide>
  <ion-slide>
    <h2>Participe de Eventos</h2>
    <p>Adquira e propague conhecimento através de lives</p>
  </ion-slide>
  <ion-slide>
    <h2>Conecte-se</h2>
    <p>Faça networking com outros empreendedores de sua região ou ramo de negócio</p>
  </ion-slide>
  <ion-slide>
    <h2>E se quiser</h2>
    <p>Faça uma pausa em nosso coffee break...</p>
  </ion-slide>
</ion-slides>
