<app-header title="Live"></app-header>

<ion-content>

  <ion-card>
    <iframe
    allowfullscreen="allowFullScreen"
    src="https://www.youtube.com/embed/lKBAWYq4A4Y?ecver=1&amp;autoplay=1&amp;iv_load_policy=1&amp;yt:stretch=16:9&amp;autohide=1&amp;color=red&amp"
    width="360"
    height="250"
    allowtransparency="true"
    frameborder="0"
    ></iframe>
    <ion-card-header>
      <ion-card-title>MEI- Como declarar o imposto de renda</ion-card-title>      
    </ion-card-header>    
  </ion-card>
</ion-content>
