.mainscreen {
  background-color: var(--ion-color-primary);
  color: #fff;
  height: 100%;
  width: 100%;
}
.logo {
  padding: 5% 10% 15%;
  text-align: center;
  img {
    width: 100%;
  }
  h2 {
    margin-top: 0px;
    font-size: 1em;
  }
}
.form-login {
}

ion-item.item-has-focus > ion-label {
  color: #fff;
}

:host {
  
  --ion-item-background: var(--ion-color-primary);
  --ion-item-color: #fff;
}
