
<ion-content>
  <div class="mainscreen">
    <div class="logo">
      <img src="assets/images/logo_size_invert copy.PNG" />
      <h2>Bem-Vindo</h2>
    </div>
    <form>
      <ion-list class="background-e51b23 form-login">
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input  autocomplete="off" type="text" name="identifier" [(ngModel)]="postData.identifier"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Senha</ion-label>
          <ion-input autocomplete="off" type="password" name="password" [(ngModel)]="postData.password"></ion-input>
        </ion-item>
      </ion-list>
      <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button expand="block" color="light" (click)="loginAction()">Entrar</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" color="medium" (click)="loginAction()">Registrar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    </form>
  </div>
</ion-content>

