.mainscreen{
    background-color:#e51b23;
    color: #fff;
    height: 100%;
    width: 100%;
}
.logo{
    padding:25% 10%;
    text-align: center;
    img{
        width: 100%;
    }
    h2{
        margin-top: 0px;
        font-size: 1em;
    }
}
.form-login{
    margin: 30% 10px 10px;
}